<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Generic - Phantom by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="/" class="logo">
					<span class="symbol"><img src="/images/logo.svg" alt="" /></span><span class="title">Dongguk
						ProblemBank</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/generic">Dongguk IDE에 대하여</a></li>
				<li><a href="/problem">문제 은행</a></li>
				<li><a href="/generic">만든 사람</a></li>
				<li><a href="/elements">Elements</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1> 정답 확인 </h1>
				<!-- <span class="image main"><img src="images/pic13.jpg" alt="" /></span> -->
				<hr>
					<table>
						<tr>
							<td width="50%">
								<br>
								<h2> &nbsp; 작성한 코드 </h2>
								<pre><code><%= code %></code></pre>
							</td>
							<td width="50%">
								<br>
								<h2> &nbsp; 출력 결과 </h2>
								<pre><code>엥?</code></pre>
							</td>
						</tr>
					</table>

				<hr>


			</div>
		</div>



	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>